body {
  /*background-image: url('abstract_green.jpg') ;*/
  /*background-size: cover;*/
  background-color: #4269C2;
  color: #131A29;

}
a {
  color: #131A29;
}
#mainPic {
  height: 250px;
  padding-left: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*.mybg {
  background-color: rgba(26,89,255,.6);
  border-radius: 15px;
  padding: 10px;
}*/
