body {
  /*background-image: url('abstract_green.jpg') ;*/
  /*background-size: cover;*/
  background-color: #2E4272;
  color: #4269C2;

}
a {
  color: #4269C2;
}
#mainPic {
  height: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card {
  background-color: #222F4E;
  color: #385496;
  margin: 10px;
  border-radius: 5px;
}
.page-header {
  background-color: #288787;
  color: #0F2525;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 5px;
  
}
/*.mybg {
  background-color: rgba(26,89,255,.6);
  border-radius: 15px;
  padding: 10px;
}*/
