<div class="">
  <div class="">
    <h1>A little about myself....</h1>
    <p>
      I am Marine Veteran, Coding Dojo Graduate, and Code Tinkerer looking for new opportunities to learn, grow and make a impact on an organization. I've recently taken a hobby and honed it into a skill and enjoyed the learning and research of new ideas, and how to solve problems.
      My interest in electronics that started when my parents brought home a old TI-99 that ran with BASIC. I didn't understand the first thing about it, but I knew I wanted to! That sparked an interest in hardware that is still with me and that led to my introduction to code. Over the years of wading through the forums for solutions, I realized I have a better than average grasp on this technology and I could do better. That led me to the world of programming , where I looked at my options and decided a Coding Bootcamp would be a better value of my time and money, than traditional methods of shifting careers.
    </p>
  </div>
  <div class="">
    <h3>Languages and I have worked with:</h3>
    <table class="table">
      <tr>
        <th>Language</th>
        <th>Description</th>
        <th>Use Case</th>
      </tr>
      <tr>
        <td>HTML/CSS</td>
        <td>Builds teh WEb as you see it</td>
        <td>ARtists Static pages</td>
      </tr>
      <tr>
        <td>JavaScript & libraries</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>MongoDB</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Angular</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Express and Node in particular</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Ruby on Rails</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Python w/ Flask & Django Frameworks</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
