<div ng-controller="IndexController as IC" class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <img id="mainPic" class="img-rounded"src="../style/MainPortPic.jpg" alt="#">
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-7 ">
      <h2>A little about myself....</h2>
      <p>
        I am Marine Veteran, Coding Dojo Graduate, and Code Tinkerer looking for new opportunities to learn, grow and make a impact on an organization. I've recently taken a hobby and honed it into a skill and enjoyed the learning and research of new ideas, and how to solve problems.
        My interest in electronics that started when my parents brought home a old TI-99 that ran with BASIC. I didn't understand the first thing about it, but I knew I wanted to! That sparked an interest in hardware that is still with me and that led to my introduction to code. Over the years of wading through the forums for solutions, I realized I have a better than average grasp on this technology and I could do better. That led me to the world of programming , where I looked at my options and decided a Coding Bootcamp would be a better value of my time and money, than traditional methods of shifting careers.
      </p>
  </div>
</div>
<div class="row" ng-init="IC.index()" >
  <h3>Languages and I have worked with: </h3>
</div>
<div class="row">
  <div class="card col-md-3" ng-repeat="language in IC.languages">
    <h3 class="card-title">{{language.language}}</h3>
    <p class="card-text">{{language.description}}</p>
    <p class="card-text">{{language.use}}</p>
  </div>
</div>


  <!-- <div class="row">
    <h3>Languages and I have worked with:</h3>
    <table class="table ">
      <tr>
        <th>Language</th>
        <th>Description</th>
        <th>Use Case</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>JavaScript & libraries</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>MongoDB</td>
        <td>Stores your data</td>
        <td>non-relational database</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>JS library for single page applications</td>
        <td>Show everyting you have without leaving a page</td>
      </tr>
      <tr>
        <td>Express and Node in particular</td>
        <td>Express is the server application, and node runs it all</td>
        <td>this is the E & N in MEAN</td>
      </tr>
      <tr>
        <td>Ruby on Rails</td>
        <td>A quick developement framework and language</td>
        <td>Good for rapid developement of a prototype</td>
      </tr>
      <tr>
        <td>Python w/ Flask & Django Frameworks</td>
        <td>Webserver Frameworks in Python</td>
        <td>Hosting webpages</td>
      </tr>
    </table>
  </div> -->
