<!-- <h1>Displaying the portofolio demos page</h1> -->
<div class="row">
  <h2>These are a few examples of what I can create:</h2>
</div>
<div class="row">
  <div class="row">
    <h3 class="col-md-3">Python on Django</h3>
  </div>
  <div class="row">
    <p class="col-md-8">This will be a demo of an employee time tracking application built in Python on the Django framework.</p>
    <a class="col-md-4" href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
  </div>
</div>
<div class="row">
  <div class="row">
    <h3 class="col-md-3">MEAN Stack (MongoDB,ExpressJS,AngularJS,Node.js)</h3>
  </div>
  <div class="row">
    <p class="col-md-8">This site is built using the MEAN Stack principles. AngularJS is used to organize the data on the client side, ExpressJS is used create a webserver, Node.js runs and serves the webserver, and MongoDB is a non-relational database used to store the data.</p>
    <a class="col-md-4" href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
  </div>
</div>
<div class="row">
  <div class="row">
    <h3 class="col-md-3">Ruby on Rails</h3>
  </div>
  <div class="row">
    <p class="col-md-8">This will be a demo of an E-commerce site built using Ruby on Rails and making use of GEM packages for security and payment processing.</p>
    <a class="col-md-4" href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
  </div>
</div>
